/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 22, 2020, 3:34:40 AM
    Author     : minhg
*/

.w100 {
  width: 100%;
}
.w40 {
  width: 40%;
}
.w60 {
  width: 60%;
}
table {
  width: 100%
}
.input_form {
  width: 90%; 
  box-shadow: -1px -1px #a6a6a6;
}
.submit_btn {
  margin: 10px;
  padding: 5px;
}